# dependencies
/finhubtest-be/node_modules
/finhubtest-fe/node_modules

/finhubtest-fe/npm-debug.log*
/finhubtest-fe/yarn-debug.log*
/finhubtest-fe/yarn-error.log*

/finhubtest-be/npm-debug.log*
/finhubtest-be/yarn-debug.log*
/finhubtest-be/yarn-error.log*
